@import 'colori2.css';
@import 'utiliti2.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,400;0,600;1,300;1,500&display=swap');
*{
    box-sizing: border-box;
}


.bg-dark-blue
{
    background-color: #01011b;
}

.text{
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

#header{
    position: relative;
    width:100%;
    padding: 15px 35px;
    height: 100px;
    border-bottom: 2px solid #00adef;
}

#main{
    position: relative;
    width:100%;/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#01011b+0,6f9ace+44,01011b+100 */
background: #01011b; /* Old browsers */
background: -moz-linear-gradient(top,  #01011b 0%, #6f9ace 44%, #01011b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #01011b 0%,#6f9ace 44%,#01011b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #01011b 0%,#6f9ace 44%,#01011b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01011b', endColorstr='#01011b',GradientType=0 ); /* IE6-9 */

    min-height: 100vh;
}

#main-menu{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px 200px 0 150px;
    display: none;
}
#main-menu ul{
    padding:0px;
    margin:0px;
    text-align: center;
     height: 100%;
}

#main-menu ul li{
    position: relative;
    display: inline-block;
    height: 100%;
}

#main-menu ul li:first-child{
    padding: 0px;
}

#main-menu ul li:last-child{
    padding-right: 0px;
}

#main-menu ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 1rem;
}

#main-menu ul li a:hover{
    color:#00aff0;
}

#main-menu ul li .separator{
    display:block;
    width: 1px;
    height:1.7rem;
    background-color: #00aff0;
    margin:0 15px;
}


#logo{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    text-align: right;
}

#secondary-menu{
    position: absolute;
    top:0;
    right: 0;
    width: 250px;
    height: 100%;
    display: none;
}

#secondary-menu ul{
    text-align: center;
    padding: 0px;   
    margin: 0px;
    height: 100%;
}

#secondary-menu ul li{
    height: 100%;
    position: relative;
    display: inline-block;
}

#secondary-menu ul li .separator{
    margin:0 15px;
    display:block;
    width: 1px;
    height:1.7rem;
    background-color: #00aff0;
}

#secondary-menu #search-icon{
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
}

.btnlogin{
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px 15px;
    border: 3px solid #00aff0;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2rem;
    letter-spacing: 5px;
}

.mv-header-btn:hover{
    border: 3px solid  #fff;
    color: #00aff0;
}

#herogallery{
    position: relative;
    width: 100%;
    height: 500px;
    background-color:#01011b;
}

#galleryprimaria{
    height: 480px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#slideshow{
    position: relative;
    height: 100%;
    padding: 0px;
    margin:0px;
    z-index: 0;
    left:0;
    
    transition: all 0.5s ease-in;
}

.slide{
    position: relative; /*absolute altro metodo */
    height: 100%;
    display: inline-block;
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 -4px;
    
    /*
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    */
}


#gallerysecondaria{
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #01011b;
    text-align: center;
}

.gallerynav{
    position: absolute;
    z-index: 3;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    top:0;
}

#gallerynavprev{
    height: 100%;
    left:1px;
    cursor: pointer;
}

#gallerynavprev:hover{
    opacity: 0.5;
}

#gallerynavnext{
    height: 100%;
    right:1px;
    cursor: pointer;
}

#gallerynavnext:hover{
    opacity: 0.5;
}


.dot{
    display: inline-block;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    background-color: #00adef;
    transform: scale(1); /* se metti 1 sarà la sua grandezza originaria */
    transform-origin: center center;
    border-radius: 50%; /* 50% fai le cose tonde tonde */
    transition: all 0.3s linear;
}

.dot.active{
    background-color: #fff;
    transform: scale(1.3); /* così stai aumendanto di poco quella originale */
}


#movies{
    position: relative;
    width: 100%;
}

.padded-section{
    padding-top: 75px;
    padding-bottom: 75px;  
}

.padded-section:first-child{
    padding-top: 150px;
}
/*
.container{
    position: relative;
    width: 100%;
} */

.section-title{
    display: inline-block;
    font-size: 2rem;
    padding-bottom: 3px;
    border-bottom: 3px solid  #00aff0;
    color: #fff;
    letter-spacing: 5px;
    margin-top: 0px;
    margin-bottom: 75px;
}

.section-title-opaque-container{
    position: relative;
    display: inline-block; 
    background-color: rgba(0,0,0, .5);
    padding: 25px 15px 10px;
    border-radius: 5px;
}

.book-now-form-container {
    position: relative;
    background-color: rgba(0,0,0, .5);
    padding: 25px 15px 10px;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.book-now-form-container .form-group{ 
    margin-bottom: 50px;
}

.c-verti{
    transform: translateY(0); /*FUNZIONA PERCHE' NON CI SONO ABBASTANZA RELATIVE */
}

.book-now-form-container  .book-now-form-row i{ /* IN QUESTO MODO DICI TUTTI I FORM GROUP DI book-now-form-container */
    color: #fff;
    font-size: 2.5rem;
}


.book-now-form-container .form-group select{ /* IN QUESTO MODO DICI TUTTI I FORM GROUP DI book-now-form-container */
    border-radius: 0;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 5px 10px;  
}


.section-title-opaque-container .section-title{
    margin-bottom: 0px;
}

.section-title.opaque{
    background-color: rgba(0,0,0, .5);
    padding: 25px 15px 10px;
}

.single-movie-poster{
    
    position: relative;
    width: 100%;
    padding-top: 150%; /* dimensione padding 100% gli darà una dimensione omogenea. USALA */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.single-movie-block{
    position: relative;
    margin-top: 35px;
}

.single-movie-block h4{
    color: #fff !important;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 25px;
}


.mv-btn-blue {
     /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6db3f2+0,3690f0+29,54a3ee+59,54a3ee+59,1e69de+100 */
background: #6db3f2; /* Old browsers */
background: -moz-linear-gradient(left,  #6db3f2 0%, #3690f0 29%, #54a3ee 59%, #54a3ee 59%, #1e69de 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #6db3f2 0%,#3690f0 29%,#54a3ee 59%,#54a3ee 59%,#1e69de 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #6db3f2 0%,#3690f0 29%,#54a3ee 59%,#54a3ee 59%,#1e69de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=1 ); /* IE6-9 */

}
.mv-btn-blue:focus,
.mv-btn-blue.focus {
     /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d0e4f7+0,73b1e7+32,539fe1+68,539fe1+68,87bcea+100 */
background: #d0e4f7; /* Old browsers */
background: -moz-linear-gradient(left,  #d0e4f7 0%, #73b1e7 32%, #539fe1 68%, #539fe1 68%, #87bcea 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #d0e4f7 0%,#73b1e7 32%,#539fe1 68%,#539fe1 68%,#87bcea 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #d0e4f7 0%,#73b1e7 32%,#539fe1 68%,#539fe1 68%,#87bcea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 ); /* IE6-9 */

}
.mv-btn-blue:hover {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d0e4f7+0,73b1e7+32,539fe1+68,539fe1+68,87bcea+100 */
background: #d0e4f7; /* Old browsers */
background: -moz-linear-gradient(left,  #d0e4f7 0%, #73b1e7 32%, #539fe1 68%, #539fe1 68%, #87bcea 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #d0e4f7 0%,#73b1e7 32%,#539fe1 68%,#539fe1 68%,#87bcea 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #d0e4f7 0%,#73b1e7 32%,#539fe1 68%,#539fe1 68%,#87bcea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 ); /* IE6-9 */

}


.mv-btn-purple {
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e570e7+0,55336b+17,55336b+85,a849a3+100 */
background: #e570e7; /* Old browsers */
background: -moz-linear-gradient(left,  #e570e7 0%, #55336b 17%, #55336b 85%, #a849a3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #e570e7 0%,#55336b 17%,#55336b 85%,#a849a3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #e570e7 0%,#55336b 17%,#55336b 85%,#a849a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=1 ); /* IE6-9 */
}
.mv-btn-purple:focus,
.mv-btn-purple.focus {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e93cec+20,fb83fa+65 */
background: #e93cec; /* Old browsers */
background: -moz-linear-gradient(left,  #e93cec 20%, #fb83fa 65%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #e93cec 20%,#fb83fa 65%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #e93cec 20%,#fb83fa 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e93cec', endColorstr='#fb83fa',GradientType=1 ); /* IE6-9 */

}
.mv-btn-purple:hover {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e93cec+20,fb83fa+65 */
background: #e93cec; /* Old browsers */
background: -moz-linear-gradient(left,  #e93cec 20%, #fb83fa 65%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #e93cec 20%,#fb83fa 65%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #e93cec 20%,#fb83fa 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e93cec', endColorstr='#fb83fa',GradientType=1 ); /* IE6-9 */

}




.btn{
    padding: 14px 20px;
    height: 45px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 3px;
    border: 0px;
}

.btn:hover{
    color: #fff;
    text-decoration: none;
}

/*
.mv-btn{
    position: relative;
    display: inline-block;
    padding: 14px 20px;
    height: 45px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 3px;
   /* background-repeat: repeat-x; se hai dubbi gaurda la documentazione 
    line-height: 1;
} */

.mv-btn.green{
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#299a0b+0,176608+26,176608+73,299a0b+100 */
background: #299a0b; /* Old browsers */
background: -moz-linear-gradient(left,  #299a0b 0%, #176608 26%, #176608 73%, #299a0b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #299a0b 0%,#176608 26%,#176608 73%,#299a0b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #299a0b 0%,#176608 26%,#176608 73%,#299a0b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b',GradientType=1 ); /* IE6-9 */
}

.mv-btn.green:hover{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9dd53a+0,80c217+36,a1d54f+58,a1d54f+64,7cbc0a+100 */
background: #9dd53a; /* Old browsers */
background: -moz-linear-gradient(left,  #9dd53a 0%, #80c217 36%, #a1d54f 58%, #a1d54f 64%, #7cbc0a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #9dd53a 0%,#80c217 36%,#a1d54f 58%,#a1d54f 64%,#7cbc0a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #9dd53a 0%,#80c217 36%,#a1d54f 58%,#a1d54f 64%,#7cbc0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=1 ); /* IE6-9 */

}


.mv-btn.blue{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6db3f2+0,3690f0+29,54a3ee+59,54a3ee+59,1e69de+100 */
background: #6db3f2; /* Old browsers */
background: -moz-linear-gradient(left,  #6db3f2 0%, #3690f0 29%, #54a3ee 59%, #54a3ee 59%, #1e69de 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #6db3f2 0%,#3690f0 29%,#54a3ee 59%,#54a3ee 59%,#1e69de 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #6db3f2 0%,#3690f0 29%,#54a3ee 59%,#54a3ee 59%,#1e69de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=1 ); /* IE6-9 */

}

.mv-btn.blue:hover{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d0e4f7+0,73b1e7+32,539fe1+68,539fe1+68,87bcea+100 */
background: #d0e4f7; /* Old browsers */
background: -moz-linear-gradient(left,  #d0e4f7 0%, #73b1e7 32%, #539fe1 68%, #539fe1 68%, #87bcea 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #d0e4f7 0%,#73b1e7 32%,#539fe1 68%,#539fe1 68%,#87bcea 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #d0e4f7 0%,#73b1e7 32%,#539fe1 68%,#539fe1 68%,#87bcea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 ); /* IE6-9 */
}


#halls{
    text-align: center;
    position: relative;
    width: 100%;
}

.single-hall-img{
    position: relative;
    width: 100%;
    padding-top:100%; /* dimensione padding 100% gli darà una dimensione omogenea. USALA */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.single-hall-block{
    margin-bottom: 75px;
}


.single-hall-block h4{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 25px;
}


@media all and (min-width: 992px){ /* DOPO LA CONDIZIONE */
    #main-menu{
        display: block;
    }
    #secondary-menu{
        display: block;
    }
    .c-verti{
        transform: translateY(50%); /*FUNZIONA PERCHE' NON CI SONO ABBASTANZA RELATIVE */
    }
    
    .eq-col-row{
    display:table;
    width: 100%; 
    }

    .eq-col-row [class*='col-']{
        float: none;
        display:table-cell;
        vertical-align: middle;
    }
    
    #footer-social-container{
        color: #00adef;
        border-left: 1px solid #00adef;
        padding: 5px 0px 5px 20px;
        text-align: left;
    }
}  

@media all and (min-width: 1200px){
         
    #main-menu ul li a{
        font-size: 1.5rem;
    }
}

@media all and (min-width: 1440px){
         
    #main-menu ul li a{
        font-size: 1.5rem;
    }
        
    #movie-data-container{
        height: calc( 100vh - 100px );
    }
    #movie-data{
        position: absolute;
    }
    .movie-info{
        margin-top: 0px;
    }
    .single-movie-block{
        margin-top: 0px;
    }
}


#modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(0,0,0,.5);
    z-index:99;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
}

#modal-overlay.open{
    opacity: 1;
    visibility: visible;
    transition: all 1s linear;
}

#modal{
    position: relative;
    margin: auto;
    top:50%;
    transform: translateY(-50%);
    width: 50%;
    height: 50%;
    background-color: #fff;
    transition: all 1s linear;
}

#modal h2{
    font-size: 2.5rem;
    color: #000;
    text-align: center;
}

#modal-close-container{
    position: relative;
    width: 100%;
    padding: 5px 15px;
    text-align: right;
}


#modal-close{
    font-size: 2.5rem;
    cursor: pointer;
    color: #000;
}


.movie-info-box{
    display: none;
}

#footer{
    position: relative;
    width:100%;
    background-color: #01011b;
    padding: 100px;
}

#footer-social-container{
    color: #00adef;
    text-align:center;
}

#footer-social-container a{
    margin-right: 10px;
    text-decoration: none;
}

#footer-social-container a i{
    color: #00adef;
    font-size: 3.5rem;
}

#footer-social-container a:hover i{
    color: #fff;
    font-size: 3.5rem;
    transition: all .3s linear;
}

#footer-logo{
    background-repeat: no-repeat;
    background-size:contain; /* CONTAIN molto buono  100% auto EQUIVALENTE A CONTAIN*/
    background-position: center center;
    width: 200px;
    height: 200px;
    display: inline-block;
    position: relative;
}

#back-to-top{
    display: inline-block;
    cursor: pointer;
    background-color: #00adef;
    color: #fff;
    font-size: 2.5rem;
    padding:10px;
    width: 50px;
    border-radius:50%;
    height: 50px;
    text-align: center;
    
}

.dt{
    position: relative;
    display: table;
}

.dtc{
    display: table-cell;
}

.w-full{
    width: 100%;
    
}

.h-full{
    height: 100%;
}

.va-m{
    vertical-align: middle;
}


#map{
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    width: 100%;
    padding-bottom: 65%;
}

#movie-data-container{
    position: relative;
    width: 100%;
    height: auto;
}

#movie-data-container #video-container{
    position: relative;
    display: block;
    overflow: hidden;
    width:100%; 
    height: 100%; 
}


#video-container #video-overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 2;
}


#video-container #video-play{
    position: absolute;
    display: block;
    top: 50px;
    left:50px;
    z-index: 4;
    cursor: pointer;
}


#video-container #video-play .video-play-element{
    position: relative;
    display: inline-block;
}

#video-container #video-play #play-icon{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100px;
    height: 100px;
}


#video-container #video-play #play-label-container{
    height: 100px;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #00adef;
    letter-spacing: 2px;
    font-weight: 700;
    margin-left: 15px;
    line-height: 1;
}


#video-container video{
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: 1;
}


#movie-data{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.movie-info{
    margin-top: 35px;
}


#movie-data h4{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #00adef;
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-weight: 700;
}

#movie-data h3  {
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-weight: 700;
}

#movie-data h5  {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-weight: 700;
}