*{
    box-sizing: border-box;
}

.btn-mv-lg{
    padding: 14px 40px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 3px;
    border: 0px;
    text-transform: uppercase;
}

.item{
    height: 150px;
}

.hall-carousel-container{
    position: relative;
    width: 100%;
    padding: 0 50px;
    margin-top: 35px;
}

.hall-carousel-navi{
    position: absolute;
    top:0;
    height: 100%;
    width: 50px;
    text-align: center;
}

#hall-carousel-navi-prev{
    left:0;
}

#hall-carousel-navi-next{
    right:0;
}

.hall-carousel-navi-btn{
    color:#fff;
    font-size: 3.5rem;
    cursor: pointer;
}

#hall-data-container{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 50px;
    /* background-color: lightskyblue; */
}

.half-col{
    position: relative;
    width: 100%;
}

.hall-imag{
    /* background-color: lightsalmon; */
    text-align: center;
}

.hall-imag img{
   max-width: 100%;
}


.hall-data{
    padding: 0 30px;
    /* background-color: lightgrey; */
}

.hall-data-content{
    position: relative;
    width: 100%;
}   

.hall-data-row{
    position: relative;
    width: 100%;
    margin-bottom: 35px;
}

.hall-data-row h1{
    position: relative;
    display: inline-block; /* se levi inline block la riga viola di sotto occuperà tutto lo spazio. Così occupa sol oquello che gli serve */
    font-size: 5rem;
    color: #fff;
    font-weight: 700;
    letter-spacing: 5px;
    border-bottom: 3px solid #ba34f3;
    padding-bottom: 3px;
}

.hall-data-row h3{
    position: relative;
    font-size: 2rem;
    color: #ba34f3;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.hall-data-row p{
    position: relative;
    font-size: 1.75rem; 
    color: #fff;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.hall-data-row p:last-child{
    margin-bottom: 0px;
}

@media all and (min-width: 992px){ /* DOPO LA CONDIZIONE */

}  

@media all and (min-width: 1200px){

         
}

@media all and (min-width: 1440px){
         
    
    #hall-data-container{
        padding-top: 100px;
    }

    .hall-data-content{
        width: 50%;
    }   

    .hall-data-container-inner{
        position: relative;
        display: table;
        width: 100%;
    }
        
    .half-col{ /* se hai 2 div metti float:left per metterli di fila */
        position: relative;
        width: 50%;
        height: 100%;
        display: table-cell;
    }
        
    .hall-imag{
        height: 70%;
        vertical-align: middle;
        text-align: right;
    }

    .hall-data{
        vertical-align: top;
        text-align: left;
    }


}